# These macros are for loading and saving bed mesh
# You can copy these entries into your printer.cfg.
# 
# Alternatively, import this file by adding
# this line into your printer.cfg;
# 
# [include tuning_macros.cfg]

[gcode_macro PID_TUNE_BED]
gcode:
    {% set TARGET_TEMP = params.TARGET_TEMP|default(80)|float %}
    G28 #remove line if you ran G28 before starting this macro
    PID_CALIBRATE HEATER=heater_bed TARGET={TARGET_TEMP} # Wait for the bed to hit TARGET_TEMP


[gcode_macro PID_TUNE_HOTEND]
gcode:
    {% set TARGET_TEMP = params.TARGET_TEMP|default(245)|float %}
    G28 #remove line if you ran G28 before starting this macro
    PID_CALIBRATE HEATER=extruder TARGET={TARGET_TEMP} # Wait for the bed to hit TARGET_TEMP


[gcode_macro LOAD_MESH_TEMP]
gcode:
    {% set BED_TEMPERATURE = params.BED_TEMPERATURE|default(80)|float %}
    {% set FORCE = params.FORCE|default(0)|int %}
    {printer.gcode.action_respond_info("- AUTOMATED BED MESH GENERATOR -")}
    {% if BED_TEMPERATURE|int < 30 %}
        {printer.gcode.action_respond_info("Your bed temp is to low, make sure it is at least 30 or higher")}
    {% else %}
        {% if printer.configfile.config["bed_mesh " + BED_TEMPERATURE] is defined and FORCE|int == 0 %}
            G28 #remove line if you ran G28 before starting this macro
            BED_MESH_PROFILE LOAD={BED_TEMPERATURE}
            {printer.gcode.action_respond_info("Succesfully loaded bed_mesh "+ BED_TEMPERATURE)}
        {% else %}
            {% if printer.configfile.config["bed_mesh " + BED_TEMPERATURE] is defined and FORCE|int == 1 %}
                BED_MESH_PROFILE REMOVE={BED_TEMPERATURE}
            {% endif %}
            {printer.gcode.action_respond_info("bed_mesh not defined, your bed temperature will go up!")}
            {printer.gcode.action_respond_info("We will probe the bed and save the mesh as bed_mesh "+ BED_TEMPERATURE)}
            ADD_BED_MESH TARGET_TEMP={BED_TEMPERATURE}
        {% endif %}
    {% endif %}

[gcode_macro ADD_BED_MESH]
gcode:
   {% set TARGET_TEMP = params.TARGET_TEMP|default(80)|float %}
    M190 S{TARGET_TEMP} # Wait for the bed to hit TARGET_TEMP
    G28 #remove line if you ran G28 before starting this macro
    BED_MESH_CALIBRATE
    BED_MESH_PROFILE SAVE={TARGET_TEMP}
    TURN_OFF_HEATERS

[gcode_macro ADD_BED_MESH_70]
gcode:
   {% set TARGET_TEMP = params.TARGET_TEMP|default(70.0)|float %}
    M190 S{TARGET_TEMP} # Wait for the bed to hit TARGET_TEMP
    G28 #remove line if you ran G28 before starting this macro
    BED_MESH_CALIBRATE
    BED_MESH_PROFILE SAVE={TARGET_TEMP}
    TURN_OFF_HEATERS
    SAVE_CONFIG

[gcode_macro ADD_BED_MESH_80]
gcode:
  {% set TARGET_TEMP = params.TARGET_TEMP|default(80.0)|float %}
    M190 S{TARGET_TEMP} # Wait for the bed to hit TARGET_TEMP
    G28 #remove line if you ran G28 before starting this macro
    BED_MESH_CALIBRATE
    BED_MESH_PROFILE SAVE={TARGET_TEMP}
    TURN_OFF_HEATERS
    SAVE_CONFIG